// Institutional config for SFU CIDGOH Eagle Server
params {
    max_memory = '64.GB'
    max_cpus = 16
    max_time = '120.h'
    // database paths
    centrifuger_db = '/project/share/databases/centrifuger_refseq_prok_virus_human/'
    sourmash_db = '/project/share/databases/sourmash/gtdb-rs226-k31.dna.zip'
    gunc_db = '/project/share/databases/gunc/gunc_db_gtdb214.dmnd'
    bakta_db = '/project/share/databases/bakta/db'
    krona_taxdb = '/project/share/databases/krona_taxdb/taxonomy.tab'
}

process {
    clusterOptions = { "--account=def-sponsor00" }
    executor = 'slurm'
    scratch = false
}