// Institutional config for PDS Wimmer machine
params {
    max_memory = '64.GB'
    max_cpus = 16
    max_time = '120.h'
    // database paths
    centrifuger_db = '/project/share/databases/centrifuger_refseq_prok_virus_human/'
    checkm_db = '/project/share/databases/checkm'
    sourmash_db = '/project/share/databases/sourmash'
    gunc_db = '/project/share/databases/gunc'
    bakta_db = '/project/share/databases/bakta/db'
}

process {
    clusterOptions = { "--account=def-sponsor00" }
    executor = 'slurm'
    scratch = false
}