// Institutional config for PDS Wimmer machine
params {
    max_memory = '64.GB'
    max_cpus = 16
    max_time = '120.h'
    // database paths
    centrifuger_db = '/project/share/databases/centrifuger_refseq_prok_virus_human/'
}

process {
    clusterOptions = { "--account=def-sponsor00" }
    executor = 'slurm'
    scratch = false
}