// Institutional config for SFU Lee Lab RosalindFranklin
params {
    max_memory = '48.GB'
    max_cpus = 8
    max_time = '120.h'
    // database paths
    centrifuger_db = '/home/sfu/DATA_VOL2/databases/centrifuger_refseq_prok_virus_human/'
    sourmash_db = '/home/sfu/DATA_VOL2/databases/sourmash/gtdb-rs226-k31.dna.zip'
    gunc_db = '/home/sfu/DATA_VOL2/databases/gunc/gunc_db_gtdb214.dmnd'
    bakta_db = '/home/sfu/DATA_VOL2/databases/bakta/db'
    krona_taxdb = '/home/sfu/DATA_VOL2/databases/krona_taxdb/taxonomy.tab'
}