process {

    withName: 'ASSEMBLY_NANOPORE:QUAST' {
        ext.args = { '--no-plots \
            --no-html \
            --no-icarus \
            --no-snps \
            --no-gc \
            --no-sv' 
        }
    }

    withName: AUTOCYCLER_SUBSAMPLE {
        ext.args = '-d 10 -c 4'
    }

    withName: MINIPOLISH {
        ext.args = '--skip_initial --rounds 0'
        ext.prefix = { "${meta.id}_${meta.subsample}_miniasm" }
    }
    
    withName: RAVEN {
        ext.prefix = { "${meta.id}_${meta.subsample}_raven" }
    }

    withName: FLYE_SUBSAMPLE {
        ext.prefix = { "${meta.id}_${meta.subsample}_flye" }
    }

    withName: AUTOCYCLER_CLUSTER {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: AUTOCYCLER_TRIM {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: AUTOCYCLER_RESOLVE {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withNAME: GUNC_RUN {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_QC/GUNC/${meta.id}" },
                mode: "copy"
        ]
        ext.args = '--detailed_output'
    }

    withNAME: CHECKM {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_QC/CHECKM/${meta.id}" },
                mode: "copy"
        ]
    }

    withNAME: 'ASSEMBLY_QC:QUAST' {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_QC/QUAST/${meta.id}" },
                mode: "copy"
        ]
    }

    withNAME: 'BAKTA' {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_ANNOT/BAKTA/${meta.id}" },
                mode: "copy"
        ]
    }

    withNAME: SOURMASH_SKETCH {
        ext.args = '-k 31 --scaled 1000'
    }

    withNAME: SOURMASH_GATHER {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_QC/SOURMASH/${meta.id}" },
                mode: "copy"
        ]
        ext.args = '-k 31 --scaled 1000 --threshold-bp 5000'
    }

    withName: MINIMAP2_PAIRED_ALIGN {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_COVERAGE/${meta.id}" },
                mode: "copy"
        ]
    }

    withName: MEDAKA {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY/${meta.id}" },
                mode: "copy"
        ]
        ext.args = { "--bacteria -m $params.medaka_model" }
    }

    withName: SAMTOOLS_FAIDX {
        publishDir = [
                path: { "${params.out_dir}/ASSEMBLY_COVERAGE/${meta.id}" },
                mode: "copy"
        ]
    }

    withName: CENTRIFUGER_CENTRIFUGER {
        publishDir = [
                path: { "${params.out_dir}/TAXONOMIC_CLASSIFICATION/${meta.id}" },
                mode: "copy"
        ]
    }

    withName: CENTRIFUGER_QUANTIFICATION {
        publishDir = [
                path: { "${params.out_dir}/TAXONOMIC_CLASSIFICATION/${meta.id}" },
                mode: "copy"
        ]
        ext.prefix = { "${meta.id}_kreport" }
        ext.args = "--output-format 3"
    }
}

    
