process {

    withName: QUAST {
        ext.args = { '--no-plots \
            --no-html \
            --no-icarus \
            --no-snps \
            --no-gc \
            --no-sv' 
        }
        publishDir = [
                path: { "${params.out_dir}/QUAST/${meta.id}" },
                mode: "copy"
        ]
    }
}
    
