process {

    withName: QUAST {
        ext.args = { '--no-plots \
            --no-html \
            --no-icarus \
            --no-snps \
            --no-gc \
            --no-sv' 
        }
        publishDir = [
                path: { "${params.out_dir}/QUAST/${meta.id}" },
                mode: "copy"
        ]
    }

    withName: AUTOCYCLER_SUBSAMPLE {
        ext.args = '-d 10 -c 4'
    }

    withName: MINIPOLISH {
        ext.args = '--skip_initial --rounds 0'
        ext.prefix = { "${meta.id}_${meta.subsample}_miniasm" }
    }
    
    withName: RAVEN {
        ext.prefix = { "${meta.id}_${meta.subsample}_raven" }
    }

    withName: FLYE_SUBSAMPLE {
        ext.prefix = { "${meta.id}_${meta.subsample}_flye" }
    }
}

    
