process {
    withName:combine_res {
        container = 'docker://jimmyliu1326/samnsero-r:1.0'
    }
    withName:combine {
        container = 'docker://ubuntu:22.04'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--no-home --writable-tmpfs --cleanenv'
}